---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import { Matches } from "../components/Matches";
---

<Layout title="Mundial 2022">
	<Header title="Todos los Partidos" />
    <div class='flex w-full justify-around flex-wrap gap-2 p-6 max-w-4xl'>
        <a href='/world_cup_2022/' class='p-4 rounded bg-slate-200 shadow-md hover:bg-white'>Inicio</a>
        <a href='#grupos' class='p-4 rounded bg-slate-200 shadow-md hover:bg-white'>Grupos</a>
        <a href='#octavos' class='p-4 rounded bg-slate-200 shadow-md hover:bg-white'>Octavos</a>
        <a href='#cuartos' class='p-4 rounded bg-slate-200 shadow-md hover:bg-white'>Cuartos</a>
        <a href='#semi' class='p-4 rounded bg-slate-200 shadow-md hover:bg-white'>Semi</a>
        <a href='#tercer' class='p-4 rounded bg-slate-200 shadow-md hover:bg-white'>Tercer</a>
        <a href='#final' class='p-4 rounded bg-slate-200 shadow-md hover:bg-white'>Final</a>
    </div>
    <Header title="Fase de Grupos" />
    <div id="grupos">
        <Matches abrev='all' btns={null} fase='Fase de grupos' client:load/>
    </div>
    <Header title="Octavos de final" />
    <div id="octavos">
        <Matches abrev='all' btns={null} fase='Octavos de final' client:load/>
    </div>
    <Header title="Cuartos de final" />
	<div id="cuartos">
        <Matches abrev='all' btns={null} fase='Cuartos de final' client:load/>
    </div>
    <Header title="Semi-final" />
	<div id="semi">
        <Matches abrev='all' btns={null} fase='Semi-final' client:load/>
    </div>
    <Header title="Tercer lugar" />
	<div id="tercer">
        <Matches abrev='all' btns={null} fase='Tercer lugar' client:load/>
    </div>
    <Header title="Final" />
	<div id="final">
        <Matches abrev='all' btns={null} fase='Final' client:load/>
    </div>
</Layout>
